/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  /* Estilos para los encabezados */
  header h1 {
    text-align: center;
  }
  
  /* Estilos para las columnas */
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .column {
    flex: 1;
    padding: 20px;
    text-align: center;
  }
  
  /* Breakpoints */
  @media screen and (max-width: 768px) {
    .column {
      flex: 100%;
    }
  }
  